.controlContent {
  font-family: inherit;
  resize: none;
  border: none;
  width: 100%;
  height: clamp(300px, 100%, 500px);
}

.controlView {
  box-shadow: 5px 10px #888888;
}

.controlTitle {
  border: none;
}

.controlTime {
  border: none;
  width: 75px;
  padding: 5px;
}
