.controlContent {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  resize: none;
  border: none;
  width: 100%;
  height: 300px;
}

.controlView {
  box-shadow: 5px 10px #888888;
}

.controlTitle {
  border: none;
}

.controlTime {
  border: none;
  width: 75px;
  padding: 5px;
}
