.controlView {
  margin-left: 5px;
  padding: 5px;
  width: 340px;
}

.controlTimeStamp {
  margin: 5px;
  width: 70%;
}

.controlAddNote {
  margin: 5px;
  float: right;
}

.controlBodyElement {
  margin: 5px;
  width: 100%;
  height: 200px;
}
