html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  margin: auto;
  max-width: 2100px;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

a.btn {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 8px;
  text-decoration: none;
}

a.btn:hover {
  color: #000000;
  background-color: #ffffff;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: rgb(240, 240, 240);
  padding: 0.35em 0.45em;
  border-radius: 0.35em;
  border: none;
  box-shadow: 0px 1px 1px 0px #75757580;
  cursor: pointer;
}

button:hover,
input:hover {
  color: #000000;
  background-color: #ffffff;
}

.fas {
  margin-bottom: -0.13em;
}
