.container {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 5px;
}

.container > div {
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.container > div > * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
}
.container > div:last-child > * {
  margin-right: 0;
  margin-left: 15px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  border-radius: 50%;
}
.siteNameContainer {
  margin-left: 10px;
}
.siteName {
  font-size: 1.5em;
}
.siteSubTitle {
  font-size: 0.7em;
  font-style: italic;
  color: #444;
}
