.pageContent,
.mainContent,
.transcriptAndControls {
  display: flex;
  flex-direction: row;
}

.mainContent,
.videoAndControlsContainer,
.notesContainer,
.transcriptView,
.controlView {
  flex: 1 0;
}

.sidebar {
  flex: 0 0 260px;
}

.videoContent {
  width: 50%;
}
