.pageContent,
.transcriptAndControls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.transcriptView,
.controlView {
  flex: 1 0;
}

.videoAndControlsContainer {
  flex: 2 0;
  gap: 10px;
}

.transcriptAndControls {
  margin-top: 10px;
  max-height: 500px;
}

.notesContainer {
  flex: 1 0;
  background-color: #f8f8f8;
  padding: 0 6px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 1px 4px 0px #00000080;
}

.sidebar {
  flex: 0 0 260px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 1px 4px 0px #00000080;
  background-color: #ffffff;
}

.sidebar.collapsed,
.notesContainer.collapsed {
  flex: 0 0;
  flex-basis: 40px;
}
.sidebar h4 {
  text-align: center;
}
