.pageContent,
.mainContent,
.transcriptAndControls {
  display: flex;
  flex-direction: row;
}

.mainContent,
.transcriptView,
.controlView {
  flex: 1 0;
}

.videoAndControlsContainer {
  flex: 5 0;
}

.transcriptAndControls {
  margin-top: 10px;
  max-height: 500px;
}

.notesContainer {
  flex: 3 0;
  border: 1px solid;
  margin-left: 10px;
}

.sidebar {
  flex: 0 0 260px;
  border: 1px solid;
  margin-right: 10px;
}
