.pageContent,
.mainContent,
.transcriptAndControls {
  display: flex;
  flex-direction: row;
}

.mainContent,
.transcriptView,
.controlView {
  flex: 1 0;
}

.transcriptView {
  margin-right: 5px;
}

.controlView {
  margin-left: 5px;
}

.videoAndControlsContainer {
  flex: 5 0;
}

.transcriptAndControls {
  margin-top: 10px;
  max-height: 500px;
}

.notesContainer {
  flex: 3 0;
  margin-left: 10px;
  background-color: #f8f8f8;
  padding: 0 6px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 1px 4px 0px #00000080;
}

.sidebar {
  flex: 0 0 260px;
  border: none;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 1px 4px 0px #00000080;
  background-color: #ffffff;
}
