.noteCard {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px #00000080;
}

.noteInfo {
  display: flex;
  margin-bottom: 5px;
}

.noteInfo > * {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.noteInfo > *:not(:last-child) {
  flex: 1 0;
  margin-right: 5px;
}

.noteInfo > *:last-child {
  flex: 0 0 auto;
}

.content {
  margin-bottom: 5px;
  background-color: white;
  padding: 5px;
  word-break: break-all;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px #75757580;
}
