.container {
}

.header {
  display: flex;
  align-items: center;
}

.collapseButton {
  padding: 10px;
}

.title {
  font-size: 1.1em;
  margin: 0.5em;
}

.cards > * {
  margin-bottom: 10px;
}

.noteTitle {
  font-weight: bold;
}

.header :last-child {
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 460px;
  box-shadow: 0px 1px 3px 0px #00000080;
  margin: 10px;
}
