.header {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.1em;
  margin: 0.5em;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noteTitle {
  font-weight: bold;
}

.header input {
  flex: 1;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 70%;
  box-shadow: 0px 1px 3px 0px #3d3d3d80;
  margin: 6px;
  background-color: rgb(255, 255, 255);
}

.cardTime {
  cursor: pointer;
}
