.noteCard {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px #00000080;
}

.noteInfo {
  display: flex;
  margin-bottom: 5px;
}

.noteInfo > * {
  background-color: white;
  padding: 5px;
}

.noteInfo > *:not(:last-child) {
  flex: 1 0;
  margin-right: 5px;
}

.noteInfo > *:last-child {
  flex: 0 0 auto;
}

.content {
  margin-bottom: 5px;
  background-color: white;
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
