.container {
}

.header {
  display: flex;
  align-items: center;
}

.collapseButton {
  padding: 10px;
}

.title {
  font-size: 1.5em;
  margin: 0.5em;
}

.cards > * {
  margin-bottom: 10px;
}

.noteTitle {
  font-weight: bold;
}
