.videos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.videoCard,
.videoDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.videoCard {
  background-color: #ecebeb;
  padding: 5px;
  border-radius: 4px;
  margin: 0 4px 4px 4px;
  font-size: 14px;
}

.videoCard button {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 0px #75757580;
}

.videoCard.highlighted {
  /* TODO */
}

.videoCard .videoInfo {
  flex: 1 1;
  padding: 2px;
}

.videoDetails {
  padding-left: 1em;
  font-size: 0.8em;
}

.videoCard button {
  /* TODO */
}
