.videos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.videoCard,
.videoDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.videoCard {
  background-color: #ecf7f7;
  padding: 4px;
  border-radius: 4px;
}

.videoCard.highlighted {
  /* TODO */
}

.videoCard .videoInfo {
  flex: 1 1;
  padding: 2px;
}

.videoDetails {
  padding-left: 1em;
  font-size: 0.8em;
}

.videoCard button {
  /* TODO */
}
