.header {
  display: flex;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 1.1em;
  margin: 0.5em;
}

.addError {
  color: red;
  padding: 8px;
}

.videos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
}

.videoCard,
.videoDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.videoCard {
  background-color: #ecebeb;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}

.videoCard.highlighted {
  box-shadow: 0px 0px 1px 2px #0064ff80;
}

.videoCard .videoInfo {
  flex: 1 1;
  padding: 2px;
}

.videoDetails {
  padding-left: 1em;
  font-size: 0.8em;
}
