.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px #00000080;
  border-radius: 10px;
}

.disabled {
}

.search {
  flex: 0 0;
  margin-top: 1px;
}

.search input {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px #00000080;
  border: none;
  padding: 5px;
}

.transcripts {
  flex: 1 0;
  background: #fff;
  overflow-y: auto;
  font-size: 15px;
  border-radius: 10px;
  position: relative;
  scroll-behavior: smooth;
}

.transcriptRow {
  display: flex;
  gap: 6px;
  padding: 3px 6px;
  cursor: pointer;
}

.highlighted {
  font-weight: bold;
  background-color: #61b2fd4d;
}

.transcriptRow:hover {
  background-color: #f7f7f7;
}

.transcriptTime {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
