.container {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px #00000080;
  border-radius: 10px;
}

.search {
  flex: 0 0;
  padding-bottom: 10px;
  margin-top: 1px;
}

.search input {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px #00000080;
  border: none;
  padding: 5px;
}

.transcripts {
  flex: 1 0;
  background: rgb(255, 255, 255);
  overflow-y: auto;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.transcripts > div {
  margin-top: 6px;
  margin-left: 10px;
}
